<!DOCTYPE html>
<html>
    <head>
        <title>Demo</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <div><a href="/list">My Shopping List</a></div>
        <div>Item 2</div>
    </body>
</html>